@media screen and (max-width: 1500px) {
  .body-text {
    padding: 1%;
    width: 30%;
    margin: 7% auto 0;
  }

  .calculator-container {
    width: 30%;
    margin: auto;
    height: auto;
  }
}

@media screen and (max-width: 1300px) {
  .body-text {
    padding: 1%;
    width: 32%;
    margin: 7% auto 0;
  }

  .calculator-container {
    width: 32%;
    margin: auto;
  }
}

@media screen and (max-width: 1100px) {
  .container-wrapper {
    flex-direction: column;
    margin: 12% 0 3%;
    height: auto;
  }

  .body-text {
    order: 2;
    padding: 1%;
    width: 50%;
    margin: 7% auto 0;
  }

  .calculator-container {
    order: 1;
    width: 40%;
  }

  .sidenav {
    background-color: #000000ec;
    padding: 20% 0;
  }

  .sidenav a {
    font-size: 1.4em;
    margin: 12%;
  }
}

@media screen and (max-width: 1000px) {
  .calculator-container {
    width: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .body-text {
    width: 60%;
    margin: 7% auto 0;
  }

  .calculator-container {
    width: 60%;
    margin: auto;
  }
}

@media screen and (max-width: 750px) {
  .body-text {
    padding: 1%;
    width: 65%;
    margin: 7% auto 0;
  }

  .calculator-container {
    width: 65%;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  .container-wrapper {
    height: auto;
  }

  .body-text {
    width: 68%;
    margin: 7% auto 0;
  }

  .calculator-container {
    width: 68%;
    margin: auto;
  }
}

@media screen and (max-width: 650px) {
  .body-text {
    padding: 1%;
    width: 80%;
    margin: 7% auto 0;
  }

  .calculator-container {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .body-text {
    padding: 2%;
    width: 90%;
    margin: 7% auto 0;
  }

  .calculator-container {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}